* {}
html {
  position: relative;
  min-height: 100%;
  body {
    background-color: rgba(#E9D1D1,.62);
    margin-bottom: 60px;
    header {
      nav {
        &.navbar {
          > .navbar-header {
            > .navbar-brand {
              color: inherit;
              height: 50px;
              line-height: 30px;
              padding: 0 15px;
              position: relative;
              > span {
                img {
                  border: 0;
                  height: 50px;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
    main {
      padding: 60px 15px 0;
      article {
        section {
          &.content {
            .jumbotron {
              h1 { font-size: 45px }
              p {
                color: rgba(#24250F,.89);
                font-size: 25px;
              }
            }
            &.marketing {
              .col-lg-4 {
                margin-bottom: 20px;
                text-align: center;
              }
            }
          }
        }
      }
    }
    footer {
      &.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
        > .container {
          padding-right: 15px;
          padding-left: 15px;
          p {
            margin: 20px 0;
          }
        }
      }
    }
  }
}
