<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Brand</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/contact.html">Contact Us</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <article>
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="jumbotron">
                <h1>Contact Us&hellip;</h1>
                <p class="lead">
                  Duo Reges: constructio interrete. Summum ením bonum exposuit vacuitatem doloris; Cur haec eadem Democritus? Iubet igitur nos Pythius Apollo noscere nosmet ipsos. Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? <small>Itaque ad tempus ad Pisonem omnes..</small>
                </p>
                <p>
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactModal">Launch demo modal</button>
                </p>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2017 Mmh, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
      </div>
    </div>
  </footer>

  <div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header hidden">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Home</h4>
        </div>
        <div class="modal-body" style="font-size: 23px; line-height: 2;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus est mos, modo recte sentiat. Primum Theophrasti, Strato, physicum se voluit; Vitae autem degendae ratio maxime quidem illis placuit quieta. Duo Reges: constructio interrete. Age, inquies, ista parva sunt. At, si voluptas esset bonum, desideraret. Si quidem, inquit, tollerem, sed relinquo&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>

</html>
